<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Evento">
    <meta name="author" content="Evento">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Event Details</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ event.eventname }}</h2>
                        
                        <p><strong>Duration:</strong> {{ event.duration }}</p>
                        <p><strong>Date:</strong> {{ event.date }}</p>
                        <p><strong>Location:</strong> {{ event.location }}</p>
                        <p><strong>Time:</strong> {{ event.time }}</p>
                        <p><strong>Organized By:</strong> {{ event.organizer }}</p>
                        <p><strong>Contact Organizer:</strong> {{ event.contactorganizer }}</p>
                        <p><strong>Description:</strong> {{ event.description }}</p>
                        <form method="POST" action="{{ url_for('delete_event', event_id=event.id) }}" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete Event</button>
                        </form>
                        <a href="{{ url_for('update_event_page', event_id=event.id) }}" class="btn btn-success">Update Event</a>

                        <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
