<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Evento">
    <meta name="author" content="Evento">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Post Event</title>
    <style>
        .btn-outline-primary:hover {
            color: #007bff;
            background-color: transparent;
            border-color: #007bff;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('dashboard')}}">
                <img src="/static/logo/png/logo-no-background.png" height="40px" width="auto">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mr-3">
                        <button class="btn btn-outline-primary"><a href="{{url_for('dashboard')}}">Home</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-primary"><a href="{{url_for('logout')}}">Log Out</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>Post an Event</h2>
        <form  method="POST" action="/post_event" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="eventName">Event Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="eventname" id="eventName" placeholder="Enter event name" required>
            </div>
            <div class="form-group"> 
                <label for="eventLocation">Location<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="location" id="eventLocation" placeholder="Enter event location" required>
            </div>
            <div class="form-group">
                <label for="eventOrganizer">Organized By<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="organizer" id="eventOrganizer" required>
            </div>
            <div class="form-group">
                <label for="eventContactOrganizer">Contact Organizer<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="contactorganizer" id="eventContactOrganizer" required>
            </div>
            <div class="form-group">
                <label for="eventDate">Date<span class="text-danger">*</span></label>
                <input type="date" class="form-control" name="date" id="eventDate" required>
            </div>
            <div class="form-group">
                <label for="eventDuration">Duration<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="duration" id="eventDuration" placeholder="Enter event duration" required>
            </div>
            <div class="form-group">
                <label for="eventTime">Time<span class="text-danger">*</span></label>
                <input type="time" class="form-control" name="time" id="eventTime" required>
            </div>
            <div class="form-group">
                <label for="eventTags">Tags<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="tags" id="eventTags" placeholder="Enter tags separated by commas" required>
            </div>
            
            <div class="form-group">
                <label for="eventDescription">Description</label>
                <textarea class="form-control" id="eventDescription" name="description" rows="3" minlength="10" maxlength="9999"></textarea>
            </div>
            <div class="form-group">
                <label for="eventImage">Event Image<span class="text-danger">*</span></label>
                <input type="file" class="form-control-file" name="image" id="eventImage" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-outline-primary">Post</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies (optional, if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <br>
    <footer style="text-align: center;">@2024 Copyright Evento</footer>
</body>

</html>