<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Evento">
    <meta name="author" content="Evento">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Register</title>
    <style>
        .logo {
            margin-right: 75px;
        }

        .alert {
            margin-top: 10px;
        }
    </style>
    <div class="logo">
        <a href="/">
            <img src="/static/logo/png/logo-no-background.png" height="40px" width="auto">
        </a>
    </div>
    <br>
    <style>
        body {
            background-color: #f8f9fa;
            padding: 50px;
        }

        .register-container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-register {
            width: 100%;
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>

<body class="center-content">
    <div class="container">
        <div class="register-container">
            <form id="registerForm" method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="username">Username</label>
                    {{ form.username(class="form-control", id="username") }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email(class="form-control", type="email", id="email") }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input id="password" type="password" class="form-control" name="password">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <img src="static/logo/eye-close-icon.png" alt="Hide Password">
                            </button>
                        </div>
                    </div>
                    <div id="passwordAlert" style="display: none; color: red;"></div>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                
                <div class="alert alert-danger" id="passwordAlert" style="display: none;"></div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    {{ form.confirm_password(class="form-control", id="confirm_password") }}
                    {% for error in form.confirm_password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-register">Sign Up</button>
            </form>
            <br>
            <p>Already have an account?<a href="{{ url_for('login') }}"> Log In</a></p>
        </div>
    </div>
    <script>
       
        function validatePassword() {
            var password = document.getElementById('password').value;
            var passwordAlert = document.getElementById('passwordAlert');
            var errorMessage = '';
    
           
            if (password.length < 8) {
                errorMessage += 'Password must be 8 or more characters long.<br>';
            }
    
            
            if (!/[A-Z]/.test(password)) {
                errorMessage += 'Password must contain at least one capital letter.<br>';
            }
    
            
            if (!/[\W_]/.test(password)) {
                errorMessage += 'Password must contain at least one special character.<br>';
            }
    
            
            if (errorMessage !== '') {
                passwordAlert.innerHTML = errorMessage;
                passwordAlert.style.display = 'block';
                return false;
            }
    
            
            passwordAlert.style.display = 'none';
            return true;
        }
    
       
        document.getElementById('password').addEventListener('input', function(event) {
            validatePassword();
        });
    
        
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            if (!validatePassword()) {
                event.preventDefault();
            }
        });
        document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        var toggleButton = document.getElementById('togglePassword');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleButton.textContent = 'Hide';
        } else {
            passwordInput.type = 'password';
            toggleButton.textContent = 'Show';
        }
    });
    </script>
    <br>
    <footer style="text-align: center;">@2024 Copyright Evento</footer>
</body>

</html>
