<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Evento">
    <meta name="author" content="Evento">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update Event</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2>Update Event</h2>
                        <form method="POST" action="{{ url_for('update_event_page', event_id=event.id) }}">
                            <div class="form-group">
                                <label for="eventName">Event Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="eventname" id="eventName" value="{{ event.eventname }}"  required>
                            </div>
                            <div class="autocomplete-container" id="autocomplete-container">
                                <label for="eventLocation">Location<span class="text-danger">*</span></label>
                            </div>
                            <div class="form-group">
                                <label for="eventOrganizer">Organized By<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="organizer" id="eventOrganizer" value="{{event.organizer}}" required>
                                <small id="emailHelp" class="form-text text-muted">Enter plain text or a link</small>
                            </div>
                            <div class="form-group">
                                <label for="eventContactOrganizer">Contact Organizer<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="contactorganizer" id="eventContactOrganizer" value="{{event.contactorganizer}}" required>
                                <small id="emailHelp" class="form-text text-muted">Enter plain text or a link</small>
                            </div>
                            <div class="form-group">
                                <label for="eventDate">Date<span class="text-danger">*</span></label>
                                <input type="date" class="form-control" name="date" id="eventDate" value="{{event.date}}" required>
                            </div>
                            <div class="form-group">
                                <label for="eventDuration">Duration<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="duration" id="eventDuration" value="{{event.duration}}" required>
                            </div>
                            <div class="form-group">
                                <label for="eventTime">Time<span class="text-danger">*</span></label>
                                <input type="time" class="form-control" name="time" id="eventTime" value="{{event.time}}" required>
                            </div>
                            <div class="form-group">
                                <label for="existingImage">Existing Image</label>
                                <input type="text" class="form-control" id="existingImage" value="{{ event.image_path }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="eventDescription">Description</label>
                                <textarea class="form-control" id="eventDescription" name="description" rows="3" minlength="10" maxlength="9999">{{ event.description }}</textarea>    
                            </div>                            
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="{{ url_for('event_details', event_id=event.id) }}" class="btn btn-secondary">Cancel</a>
                    
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer style="text-align: center;">@2024 Copyright Evento</footer>   
</body>

</html>
